port=4000
JWT_SECRT='your-jwt-secret-here'

DB_URL=mongodb+srv://<username>:<password>@cluster.mongodb.net/Food-App-Database

STRIB_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxx

CLOUD_NAME=your-cloud-name
CLOUD_API_KEY=your-api-key
CLOUD_API_SECRET=your-api-secret

FRONTEND_URL=http://localhost:3000

ADMIN_EMAIL=admin@yourdish.com
ADMIN_PASSWORD=admin123
